{{#ui-block/rows as |rows|}}

  {{rows.header value="Blogs"}}

  {{#rows.row}}
    Route models experiment
  {{/rows.row}}

{{/ui-block/rows}}

{{yield}}

{{#ui-block/rows as |rows|}}

  {{rows.header value="Observed documents and queries"}}

  {{#rows.row}}
    {{#each store.observed as |model|}}
      <div>{{model}}</div>
    {{else}}
      No observed docs / queries
    {{/each}}
  {{/rows.row}}

{{/ui-block/rows}}

{{#ui-block/rows as |rows|}}

  {{rows.header value="Routes"}}

  {{#rows.row}}
    <div>{{link-to 'blogs' 'experiments.blogs'}}</div>
  {{/rows.row}}

  {{#rows.row}}
    <div>{{link-to 'blogs/missing' 'experiments.blogs.blog' 'missing'}}</div>
    <div>{{link-to 'blogs/missing/posts' 'experiments.blogs.blog.posts' 'missing'}}</div>
  {{/rows.row}}

  {{#rows.row}}
    <div>{{link-to 'blogs/amateurinmotion' 'experiments.blogs.blog' 'amateurinmotion'}}</div>
    <div>{{link-to 'blogs/amateurinmotion/posts' 'experiments.blogs.blog.posts' 'amateurinmotion'}}</div>
    <div>{{link-to 'blogs/amateurinmotion/posts/one' 'experiments.blogs.blog.posts.post' 'amateurinmotion' 'one'}}</div>
    <div>{{link-to 'blogs/amateurinmotion/posts/two' 'experiments.blogs.blog.posts.post' 'amateurinmotion' 'two'}}</div>
    {{!-- <div>{{link-to 'blogs/amateurinmotion/posts/missing' 'experiments.blogs.blog.posts.post' 'amateurinmotion' 'missing'}}</div> --}}
  {{/rows.row}}

  {{#rows.row}}
    <div>{{link-to 'blogs/zeeba' 'experiments.blogs.blog' 'zeeba'}}</div>
    <div>{{link-to 'blogs/zeeba/posts' 'experiments.blogs.blog.posts' 'zeeba'}}</div>
    <div>{{link-to 'blogs/zeeba/posts/one' 'experiments.blogs.blog.posts.post' 'zeeba' 'one'}}</div>
    <div>{{link-to 'blogs/zeeba/posts/two' 'experiments.blogs.blog.posts.post' 'zeeba' 'two'}}</div>
    {{!-- <div>{{link-to 'blogs/zeeba/posts/missing' 'experiments.blogs.blog.posts.post' 'zeeba' 'missing'}}</div> --}}
  {{/rows.row}}

{{/ui-block/rows}}
