{{#ui-block/rows as |rows|}}

  {{rows.header value='WIP'}}

  {{#rows.row}}
    <div>{{model.models}}</div>
    {{#each model.models as |item|}}
      <div>{{item}} <button {{action 'remove' item}}>Remove</button></div>
    {{else}}
      <div>No items</div>
    {{/each}}
  {{/rows.row}}

  {{#rows.row}}
    {{ui-block/json model.doc.data.serialized}}
  {{/rows.row}}

  {{#rows.row}}
    <div class="key">Add</div>
    {{input value=name placeholder='name'}}
  {{/rows.row}}

  {{#rows.row}}
    <button {{action 'add'}}>Add</button>
    <button {{action 'save'}}>Save</button>
  {{/rows.row}}

{{/ui-block/rows}}