{{#ui-route/index/section type='header'}}
  <div class="fire"></div>
  <div class="header"><span class="prefix">ember install&nbsp;</span><span class="value">ember-cli-zuglet</span></div>
  <div class="description">Ember.js addon for effortless Firebase integration.</div>
{{/ui-route/index/section}}

{{#ui-route/index/section type='links'}}
  {{link-to 'Documentation' 'docs'}}
  {{link-to 'Experiments' 'experiments'}}
  <a href="https://github.com/ampatspell/ember-cli-zuglet" target="top">GitHub</a>
{{/ui-route/index/section}}

{{#ui-route/index/section type='markdown' aside='about'}}
  {{ui-block/pages/page page=pages.about}}
{{/ui-route/index/section}}

{{#ui-route/index/section type='markdown' aside='why'}}
  {{ui-block/pages/page page=pages.why}}
{{/ui-route/index/section}}

{{#ui-route/index/section type='markdown' aside='install'}}
  {{ui-block/pages/page page=pages.install}}
{{/ui-route/index/section}}

{{#ui-route/index/section type='markdown' aside='use'}}
  {{ui-block/pages/page page=pages.use}}
{{/ui-route/index/section}}

{{#ui-route/index/section type='author' aside='author'}}
  <p>
    This addon is built and maintained by <a href="https://www.amateurinmotion.com" target="top">Arnis Vuskans</a>,
    contact me at <a href="mailto:ampatspell@gmail.com">ampatspell@gmail.com</a> for Ember.js and Firebase consulting.
  </p>
{{/ui-route/index/section}}
