<div class="route-playground-dev">

  <div class="row">
    <Json @value={{this.doc}}/>
  </div>

  <div class="row">
    <input type="button" {{on "click" this.reload}} value="Reload"/>
    <input type="button" {{on "click" this.save}} value="Save"/>
  </div>

  <div class="row">
    <Block::Changes as |Changes|>
      <Changes.Property @key="doc" @value={{this.doc}}/>
      <Changes.Property @key="doc.data.things" @value={{this.doc.data.things}}/>
      <Changes.Property @key="doc.data.things.@firstObject.name" @value={{this.thing}}/>
    </Block::Changes>
  </div>

</div>