<div class="route-playground-storage">

  <div class="row">
    <Json @value={{this.store.storage}}/>
  </div>


  <div class="row">
    <div class="row">
      {{if this.url this.url 'No url'}}
    </div>
    <div class="row">
      <input type="button" value="Fetch URL" {{on "click" this.getUrl}}/>
    </div>
  </div>

  <div class="row">
    <div class="row">
      {{#if this.metadata}}
        <Json @value={{this.metadata}}/>
      {{else}}
        No metadata
      {{/if}}
    </div>
    <div class="row">
      <input type="button" value="Fetch metadata" {{on "click" this.getMetadata}}/>
    </div>
  </div>

  <div class="row">
    <Input::File @onFile={{this.onFile}}/>
  </div>

  {{#if this.file}}
    <div class="row">
      <Json @value={{this.file}}/>
    </div>
    <div class="row">
      <input type="button" value="Upload" {{on "click" this.upload}}/>
    </div>
  {{/if}}

  {{#if this.task}}
    {{#if this.task.isCompleted}}
      <div class="row">
        Uploaded successfully
      </div>
    {{else if this.task.isRunning}}
      <div class="row">
        Uploading {{this.task.progress}}%…
      </div>
    {{/if}}
    <div class="row">
      <Json @value={{this.task}}/>
    </div>
  {{/if}}

</div>