{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Query content
  {{/rows.header}}

  {{#if model.query.isLoading}}
    {{#rows.row}}
      Loading…
    {{/rows.row}}
  {{else}}
    {{#rows.row}}
      {{#each model.query.content as |doc|}}
        <div>{{doc.data.type}} : {{doc.data.name}} : {{doc.id}}</div>
      {{/each}}
    {{/rows.row}}
  {{/if}}

{{/ui-block/rows}}

{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Models
  {{/rows.header}}

  {{#rows.row}}
    {{model.models}}
  {{/rows.row}}

  {{#each model.models.content as |model|}}
    {{#rows.row}}
      <div>{{model.type}} : {{model.name}} : {{model.id}}</div>
      <div>{{model}}</div>
    {{/rows.row}}
  {{/each}}

{{/ui-block/rows}}
