{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Scenarios
  {{/rows.header}}

  {{#rows.row}}
    <div>{{link-to 'Index' 'index'}}</div>
    <div>{{link-to 'Redirect to nested' 'scenarios.redirect-to-nested'}}</div>
    <div>{{link-to 'Redirect to external' 'scenarios.redirect-to-external'}}</div>
  {{/rows.row}}

{{/ui-block/rows}}

{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    scenarious
  {{/rows.header}}

  {{#rows.row}}
    {{model}}
  {{/rows.row}}

{{/ui-block/rows}}

{{outlet}}
