<div class="route-auth">

  {{#if this.store.auth.user}}
    <div class="row">
      <Json @value={{this.store.auth.user}}/>
    </div>
  {{else}}
    <div class="row">
      Signed out
    </div>
  {{/if}}

  <div class="row">
    <input type="button" value="Sign out" {{on "click" this.signOut}}/>
  </div>

  <div class="row">
    <input type="button" value="Sign in anonymously" {{on "click" this.anonymousSignIn}}/>
    {{#if this.store.auth.user.isAnonymous}}
      <input type="button" value="Delete user" {{on "click" this.deleteUser}}/>
    {{/if}}
  </div>

  <div class="row">
    {{#if this.error}}
      <div class="row">
        {{this.error}}
      </div>
    {{/if}}
    <div class="row">
      <Input @type="text" @value={{this.email}} @placeholder="email"/>
    </div>
    <div class="row">
      <Input @type="text" @value={{this.password}} @placeholder="password"/>
    </div>
    <div class="row">
      <input type="button" value="Sign in" {{on "click" this.signIn}}/>
    </div>
  </div>

</div>