<div class="route-auth">

  {{#if this.error}}
    <div class="row">
      <div class="label">Error</div>
      <div class="row">{{this.error}}</div>
    </div>
  {{/if}}

  {{#if this.store.auth.user}}
    <div class="row">
      <Json @value={{this.store.auth.user}}/>
    </div>
    {{#if this.store.auth.user.photoURL}}
      <div class="row">
        <img src={{this.store.auth.user.photoURL}} alt="profile pic"/>
      </div>
    {{/if}}
  {{else}}
    <div class="row">
      Signed out
    </div>
  {{/if}}

  <div class="row">
    <input type="button" value="Sign out" {{on "click" this.signOut}}/>
  </div>

  <div class="row">
    <input type="button" value="Sign in anonymously" {{on "click" this.anonymousSignIn}}/>
    {{#if this.store.auth.user.isAnonymous}}
      <input type="button" value="Delete user" {{on "click" this.deleteUser}}/>
    {{/if}}
  </div>

  <div class="row">
    <input type="button" value="Sign in with Google" {{on "click" this.googleSignIn}}/>
  </div>

  <div class="row">
    <div class="row">
      <Input @type="text" @value={{this.email}} @placeholder="email"/>
    </div>
    <div class="row">
      <Input @type="text" @value={{this.password}} @placeholder="password"/>
    </div>
    <div class="row">
      <input type="button" value="Sign in" {{on "click" this.signIn}}/>
    </div>
  </div>

</div>