<div class="route-index">

  <div class="row">
    <input type="button" value="Toggle" {{on "click" this.toggle}}/>
  </div>

  <div class="row">
    <div>thing: {{this.active}} {{this.active.isActivated}} {{this.active.foo}}</div>
    <div>child: {{this.active.child}} {{this.active.child.isActivated}} {{this.active.child.foo}}</div>
  </div>

  <div class="row">
    <div>model: {{this.model}} {{this.model.isActivated}} {{this.model.foo}}</div>
    <div>child: {{this.model.child}} {{this.model.child.isActivated}} {{this.model.child.foo}}</div>
  </div>

  <div class="row">
    <div>child: {{this.child}} {{this.child.isActivated}} {{this.child.foo}}</div>
  </div>

  <div class="row">
    <Json @value={{this.child}}/>
  </div>

</div>