<div class="route-index">

  <div class="row">
    <input type="button" value="Toggle" {{on "click" this.toggle}}/>
  </div>

  <div class="row">
    <Json @value={{this.zeeba}}/>
    <Json @value={{this.larry}}/>
  </div>

  <div class="row">
    {{#each this.models as |model|}}
      <div>{{model}}</div>
    {{/each}}
  </div>

  {{!-- <div class="row">
    {{#each this.query.content as |doc|}}
      <div>{{doc.data.name}} {{if doc.isActivated 'active' 'inactive'}}</div>
    {{/each}}
  </div> --}}

</div>