<div class="route-storage">

  <div class="row">
    <Json @value={{this.store.storage}}/>
  </div>

  <div class="row">
    <input type="file" {{on "change" this.onFiles}}/>
  </div>

  {{#if this.file}}
    <div class="row">
      <Json @value={{this.file}}/>
    </div>
    <div class="row">
      <input type="button" value="Upload" {{on "click" this.upload}}/>
    </div>
  {{/if}}

  {{#if this.task}}
    {{#if this.task.isCompleted}}
      <div class="row">
        Uploaded successfully
      </div>
    {{else if this.task.isRunning}}
      <div class="row">
        Uploading {{this.task.progress}}%…
      </div>
    {{/if}}
    <div class="row">
      <Json @value={{this.task}}/>
    </div>
  {{/if}}

</div>